<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Jarl Koha, veebiproge 2023</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Palliviske tulemused</h1>
	<hr>
	<ul>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
	<h2>Lisa osleja ja tulemused</h2>
	<form method="POST">
		<lable for="athleteNumber">Osaleja võistlusnumber:</lable>
		<input type="text" name="athleteNumber" id="athleteNumber" placeholder="Võistlusnumber" required>
		<br>
		<lable for="attemptResult">Viskekatse tulemus (meetrites):</lable>
		<input type="number" name="attemptResult" id="attemptResult" step="0.01" placeholder="12.34" required>
		<br>
		<lable for="attemptDate">Viskekatse kuupäev:</lable>
		<input type="date" name="attemptDate" id="attemptDate" value="<%= locals.date %>" required> <!--Value peaks olema tänane kuupäev--> 
		<br>
		<input type="submit" name="athleteSubmit" value="Salvesta tulemus">
	</form>
	<p><%= locals.notice || "Ootel!" %></p>
	<br>
	<br>
	<style>
		th, td {
			text-align: center;
			padding: 8px 10px; /* Adjust padding as needed */
		}
		table {
			width: 70%; /* Make the table take full width of container */
			border-collapse: separate; /* Ensures that spacing works correctly */
			border-spacing: 0 15px; /* Adjusts vertical spacing between rows */
		}
	</style>
	<h2>Parimad võistlejad</h2>
    <% if (topResults && topResults.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Parim tulemus (meetrites)</th>
                </tr>
            </thead>
            <tbody>
                <% topResults.forEach(function(row) { %>
                    <tr>
                        <td><%= row.number %></td>
                        <td><%= row.best_result.toFixed(2) %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>Parimaid võistlejaid ei ole.</p>
    <% } %>

	<h2>Tulemused</h2>
	<% if (results && results.length > 0) { %>
    <table>
        <thead>
            <tr>
                <th>Kuupäev</th>
                <th>Viskekatse tulemus (meetrites)</th>
            </tr>
        </thead>
        <tbody>
            <% results.forEach(function(row) { %>
                <tr>
                    <td><%= new Date(row.date).toLocaleDateString('en-GB') %></td>
                    <td><%= row.result.toFixed(2) %></td>
                    
                </tr>
            <% }); %>
        </tbody>
    </table>
	<% } else { %>
    <p>Andmed kuvatakse peale võistleja tulemuse sisestamist.</p>
	<% } %>
</body>
</html>